* {
    margin: 10px;
    padding: 25px;
}

body {
  font-family: 'Poiret One', helvetica, arial, sans-serif;
  background-image: url('https://vinaire.files.wordpress.com/2013/08/universe.jpg');
  background-position: top center;
  color: #ffffff;
}

.header h1 {
    position: center;
    margin: 5px;
    background: #89B0A6;
    opacity: 0.8;
    font-size: 80px;
}

.section {
    border-style: dotted;
    font-style: italic;
    font-size: 50px;
}

.trust h1 {
    display: block;
    font-style: italic bold;
    font-size: 100px;
}

.trust p {
    font-size: 40px;
}

.broken p {
    font-size: 40px;
}

.help p {
    font-size: 40px;
}